<%-include('./layouts/header') %>
<div id ='container'>
<h1 class="title">Role Based Access Control</h1>
<div class="tutorial-info">
  <p>"Manage user roles and permissions efficiently with our Role-Based Access Control system for secure and organized access management."

  </p>
</div>
</div>

<%-include('./layouts/footer') %>